services:
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kuala_Lumpur
      - WEBUI_PORT=8080
    volumes:
      - /storage/data/qbittorrent:/config
      - /storage/media/downloads:/downloads
    ports:
      - 8088:8080 # WebUI
      - 6881:6881
      - 6881:6881/udp
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - proxy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.qbittorrent.rule=Host(`qbit.alimunee.com`)'
      - 'traefik.http.services.qbittorrent.loadbalancer.server.port=8080'
      - 'traefik.docker.network=proxy'

networks:
  proxy:
    external: true
