{{- if .Report -}} {{- with .Report -}} 🐳 Watchtower Update Report



📊 Summary:





Scanned: {{len .Scanned}}



Updated: {{len .Updated}}



Failed: {{len .Failed}}

🚀 Updated Containers: {{- range .Updated -}}





📦 {{.Name}} ({{.ImageName}}): {{.CurrentImageID.ShortID}} → {{.LatestImageID.ShortID}} {{- end -}}

❌ Failed Containers: {{- range .Failed -}}





📦 {{.Name}} ({{.ImageName}}): {{.State}}: {{.Error}} {{- end -}}

✅ Fresh Containers: {{- range .Fresh -}}





📦 {{.Name}} ({{.ImageName}}): {{.State}} {{- end -}}

⏭️ Skipped Containers: {{- range .Skipped -}}





📦 {{.Name}} ({{.ImageName}}): {{.State}}: {{.Error}} {{- end -}} {{- end -}} {{- else -}} {{range .Entries -}}{{.Message}}{{"\n"}}{{- end -}} {{- end -}}
