services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TUNNEL_TOKEN}
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - proxy

networks:
  proxy:
    external: true
