[Unit]
Description=Btrfs Scrub Service
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/notification-settings
ExecStart=/usr/local/bin/btrfs-scrub.sh
User=root
StandardOutput=journal
StandardError=journal
TimeoutSec=0

[Install]
WantedBy=multi-user.target
