services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    restart: unless-stopped
    environment:
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - /storage/data/ntfy/cache:/var/cache/ntfy
      - /storage/data/ntfy/etc:/etc/ntfy
    ports:
      - "8888:80" # Local network access
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ntfy.rule=Host(`notification.alimunee.com`)"
      - "traefik.http.services.ntfy.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      # Add headers for proper forwarding
      - "traefik.http.middlewares.ntfy-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.ntfy-headers.headers.customrequestheaders.X-Forwarded-Host=notification.alimunee.com"
      # Chain the middlewares
      - "traefik.http.routers.ntfy.middlewares=ntfy-headers@docker"
    command: serve --cache-file /var/cache/ntfy/cache.db

networks:
  proxy:
    external: true
