services:
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - /storage/data/prowlarr:/config
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.alimunee.com`)"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.docker.network=proxy"
      # - "traefik.http.middlewares.prowlarr-headers.headers.customrequestheaders.X-Forwarded-Host=prowlarr.alimunee.com"
      # - "traefik.http.middlewares.prowlarr-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      # - "traefik.http.middlewares.prowlarr-headers.headers.customrequestheaders.X-Forwarded-For=0.0.0.0"
      # - "traefik.http.routers.prowlarr.middlewares=Zitadel@docker,prowlarr-headers"
    restart: unless-stopped

networks:
  proxy:
    external: true
